{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'main/js/bootstrap.js' %}" defer></script>
<div class="container-about">
    <div class="row">
        <div class="col-md-6 column_about_1">
            <img src="{% static 'main/img/logo.png' %}" alt="NetNiche Logo" class="img-fluid mb-4" style="width: 100%; max-width: 350px;">
            <h3>Ми завжди готові допомогти вам!</h3>
            <p class="contact-info">
                Зв'яжіться з нашою службою підтримки за наступними телефонами:<br>
                +38 (XXX) XXX-XX-XX<br>
                +38 (XXX) XXX-XX-XX<br>
                Дякуємо за ваше розуміння та співпрацю!
            </p>
            <h2>Шановні клієнти!</h2>
            <p class="client-info">
                Ми завжди прагнемо забезпечити вам найкращий сервіс, але іноді можуть виникати непередбачені проблеми.
                Якщо у вас виникли будь-які питання або проблеми з нашим сервісом, будь ласка, не соромтеся звертатися до нас.
            </p>
            <h3>Якщо ви шукаєте роботу</h3>
            <div class="job-form bg-light p-4">
                <form action="#" method="POST">
                    <input type="text" placeholder="ПІБ" class="form-control mb-2">
                    <input type="email" placeholder="Електрона пошта" class="form-control mb-2">
                    <input type="tel" placeholder="Номер телефона" class="form-control mb-2">
                    <button type="submit" class="btn btn-primary">Надіслати</button>
                </form>
            </div>
            <div class="social-media mt-4">
                <a href="https://www.instagram.com/NetNiche_Shop" target="_blank">
                    <img src="{% static 'main/img/instagram.png' %}" alt="Instagram" class="social-icon">
                </a>
                <a href="https://twitter.com/NetNiche_Shop" target="_blank">
                    <img src="{% static 'main/img/twitter.png' %}" alt="Twitter" class="social-icon">
                </a>
                <a href="https://t.me/NetNiche_Shop" target="_blank">
                    <img src="{% static 'main/img/telegram.png' %}" alt="Telegram" class="social-icon">
                </a>
            </div>
        </div>
        <div class="col-md-6 column_about_2">
            <h1 class="netniche-title">Ми NetNiche</h1>
            <p class="netniche-info">
                1. Якість без компромісів: Ми ретельно добираємо матеріали та контролюємо кожен етап виробництва, щоб забезпечити найвищу якість нашого одягу. Кожен шов, кожна деталь – усе продумано до дрібниць.<br>
                2. Сучасний дизайн: Наші дизайнери постійно стежать за останніми модними тенденціями та створюють колекцію, яка поєднує стиль і комфорт. Ми прагнемо запропонувати вам найактуальніші та трендові моделі.<br>
                3. Індивідуальний підхід: Для нас кожен клієнт особливий. Ми готові допомогти вам знайти ідеальний образ, враховуючи ваші уподобання та особливості фігури. Наші консультанти завжди готові дати професійну пораду та допомогти з вибором.<br>
                4. Сталий розвиток: Ми піклуємось про майбутнє нашої планети та прагнемо мінімізувати вплив на навколишнє середовище. Наш одяг виготовляється з екологічно чистих матеріалів, і ми активно підтримуємо ініціативи із захисту природи.<br>
                5. Теплота та гостинність: Ми пишемося тим, що наш магазин – це не просто місце для покупок, а простір, де ви можете почуватися як вдома. Ми прагнемо створити атмосферу затишку та дружби, щоб кожна покупка приносила вам радість.
            </p>
        </div>
    </div>
</div>
{% endblock %}