{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'main/js/bootstrap.js' %}" defer></script>
<div class="d-flex row justify-content-around" >
    <div class="MainDiv col-5" >
        <div class="col-5">
            <img src="{% static 'main/img/logo.png' %}" alt="" style="width: 350; height: 150px;">
            <h3>
                Ми завжди готові допомогти вам!
            </h3>
            <p id="montserrat-16" class="col-4">
                Зв'яжіться з нашою службою підтримки за наступними телефонами:
                +38 (XXX) XXX-XX-XX
                +38 (XXX) XXXX-XX-XX
                Дякуємо за ваше розуміння та співпрацю!
            </p>
        </div>
        <div >
            <h2 >
                Шановні клієнти!
            </h2>
            <p id="montserrat-16" class="col-4">
                Ми завжди прагнемо забезпечити вам найкращий сервіс, 
                але іноді можуть виникати непередбачені проблеми.
                Якщо у вас виникли будь-які питання або проблеми з нашим сервісом, 
                будь ласка,не соромтеся звертатися до нас.
            </p>
        </div>
        <div class="">
            <h3 class="IfYouNeedJob">
                Якщо ви шукаєте роботу
            </h3>
            <div class="Job" style=" margin: 10px ; display: flex; flex-direction: column; background-color: #D7BBE9; gap: 15px; width: 350px; justify-content: center; align-items: center; height: 350px; gap: 20px;">
                <form action = '#' method = 'POST'>
                <input id = "client_name" type="text" placeholder="ПІБ"  class="reg-auth-field">
                <br>
                <input id = "client_email" type="text" placeholder="Електрона пошта" class="reg-auth-field">
                <br>
                <input id = "client_number" type="number" placeholder="Номер телефона" class="reg-auth-field">
                <br>
                <button class="buttonSend btn btn-primary" style="display: flex; justify-content: center;">
                    Надіслати
                </button>
                </form>
            </div>
        </div>
    </div>
    <div class="MainDiv2 col-4">
        <h1 class="WeAreNetNiche">
            Ми
            NetNiche
        </h1>
        <p class="p-3 mb-2 bg-white text-purple" id="montserrat-16" style="word-spacing: 3px ">
            1. Якість без компромісів : Ми повністю добираємо матеріали та контролюємо кожен етап виробництва, щоб забезпечити найвищу якість нашого одягу. Кожен шов, кожна деталь – усе продумано до дрібниць.
            <br>
            2. Сучасний дизайн : Наші дизайнери постійно стежать за останніми модними тенденціями та створюють колекцію, яка поєднує стиль і комфорт. Ми прагнемо запропонувати вам найактуальніші та трендові моделі.
            <br>
            3. Індивідуальний підхід : Для нас кожен клієнт особливий. Ми готові допоможемо вам знайти ідеальний образ, враховуючи ваші уподобання та особливості фігури. Наші консультанти завжди готові дати професійну пораду та допомогти з вибором.
            <br>
            4. Сталий розвиток : Ми піклуємось про майбутнє нашої планети та прагнемо мінімізувати вплив на навколишнє середовище. Наш одяг виготовляється з екологічно чистих матеріалів, і ми активно підтримуємо ініціативи із захисту природи.
            <br>
            5. Теплота та гостинність : Ми пишемося тим, що наш магазин – це не просто місце для покупок, а простір, де ви можете почуватися як вдома. Ми прагнемо створити атмосферу затишку та дружби, щоб кожна покупка приносила вам радість.
        </p>
    </div>
</div>
{% endblock %}