{% load static %}
<script src="{% static 'main/js/script-cart.js' %}"></script>
{% for product in incartproduct %}
<div class="d-flex p-2 bg-white w-100 item-backet" style="width: 18rem;">
    <img src="{{product.product.image.url}}" width="120px" alt="...">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="h2">{{product.product.name}}</h5>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="product_in_cart_id" value="{{product.id}}">
                <div class="dropdown">
                    <img src="{% static 'main/img/three-dots.svg' %}" data-bs-toggle="dropdown" role='button'
                        width="30px" alt="">
                    <ul class="dropdown-menu">
                        <li><button type="button" data-product-id="{{product.id}}"
                                data-cart-url="{% url 'cart_remove' %}" class="dropdown-item delete-item-from-cart"
                                href="#">Видалити</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="d-flex align-items-end justify-content-end p-2 gap-15 h-50">
            <div class="d-flex align-items-center">
                <span class="minus" data-id="{{forloop.counter}}" id="minus"><img
                        src="{% static 'main/img/minus.svg' %}" width="20px" alt=""></span>
                <input type="number" data-id="{{forloop.counter}}" class="count" id="count" name="qty"
                    value="{{product.amount}}">
                <span class="plus" data-id="{{forloop.counter}}" id="plus"><img src="{% static 'main/img/plus.svg' %}"
                        width="20px" alt=""></span>
            </div>
        </div>
        <p class="h1 padding-margin-0 d-flex justify-content-end product-price">{{product.product.price}} грн</p>
    </div>
</div>
<hr>
{% endfor %}