{% include 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center">Оформити замовлення</h1>
    <h2>Ваші контактні дані</h2>
    <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Ім'я</label>
            <input type="text" class="form-control" id="validationCustom01" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Прізвище</label>
            <input type="text" class="form-control" id="validationCustom02" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </form>
    <div class="row g-3 cart-wrap">
        <h2>Ваше замовлення</h2>
        {% for product in products_in_cart %}
        <div class="d-flex p-2 bg-white w-100 item-backet" style="width: 18rem;">
            <img src="{{product.product.image.url}}" width="120px" alt="...">
            <div class="card-body">
                <div class="ml-1 d-flex justify-content-between">
                    <h5 class="h2">{{product.product.name}}</h5>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="product_in_cart_id" value="{{product.id}}">
                        <div class="dropdown">
                            <img src="{% static 'main/img/three-dots.svg' %}" data-bs-toggle="dropdown" role='button'
                                width="30px" alt="">
                            <ul class="dropdown-menu">
                                <li><button type="button" data-product-id="{{product.id}}"
                                        data-cart-url="{% url 'cart_remove' %}"
                                        class="dropdown-item delete-item-from-cart" href="#">Видалити</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="d-flex align-items-end justify-content-end p-2 gap-15 h-50">
                    <div class="d-flex align-items-center">
                        <span class="minus" data-id="{{forloop.counter}}" id="minus"><img
                                src="{% static 'main/img/minus.svg' %}" width="20px" alt=""></span>
                        <input type="number" data-id="{{forloop.counter}}" class="count" id="count" name="qty"
                            value="{{product.amount}}">
                        <span class="plus" data-id="{{forloop.counter}}" id="plus"><img
                                src="{% static 'main/img/plus.svg' %}" width="20px" alt=""></span>
                    </div>
                </div>
                <p class="h1 padding-margin-0 d-flex justify-content-end">{{product.product.price}} грн</p>
            </div>
        </div>
        <hr>
        {% endfor %}
        <h2 class="cart-footer-price">Разом: {{sum_in_cart}} грн</h2>
        <h2>Доставка</h2>
        <ul>
            <li class="form-check courier-to-your-address">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Кур'єр на вашу адресу
                </label>
                <form class="courier-to-your-address-form d-none row g-3" action="">
                    <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">Вулиця</label>
                        <input type="text" class="form-control" id="validationDefault01" value="" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Будинок</label>
                        <input type="text" class="form-control" id="validationDefault02" value="" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Квартира</label>
                        <input type="text" class="form-control" id="validationDefault02" value="" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Поверх</label>
                        <input type="text" class="form-control" id="validationDefault02" value="" required>
                    </div>
                    <div class="col-md-3">
                        <label for="validationDefault04" class="form-label">Ліфт</label>
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">Наявність важкого ліфта</option>
                            <option>Присутній</option>
                            <option>Відсутній</option>
                        </select>
                    </div>
                </form>
            </li>
            <li class="form-check pickup-from-nova-poshta">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Самовивіз з Нової Пошти
                </label>
                <form class="pickup-from-nova-poshta-form d-none" action="">
                </form>
            </li>
        </ul>
        <form action="" method="post">
            {% csrf_token %}
            <button class='btn btn-primary h1' type="submit">Сплатити</button>
        </form>
    </div>
</div>
{% endblock %}