{% include 'main/base.html' %}
{% load static %}
<script src="{% static 'main/js/checkout.js' %}" defer></script>
{% block content %}
<div class="container">
    <h1 class="text-center" style='font-family: "Montserrat";'>Оформити замовлення</h1>
    <h2 class='h1 mt-5'>Ваші контактні дані</h2>
    <form id="contact-form" class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Ім'я</label>
            <input type="text" name="name" class="form-control" id="validationCustom01" value="" required>
            <div class="invalid-feedback">
                Будь ласка, введіть ваше ім'я.
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Прізвище</label>
            <input type="text" name="surname" class="form-control" id="validationCustom02" value="" required>
            <div class="invalid-feedback">
                Будь ласка, введіть ваше прізвище.
            </div>
        </div>
    </form>
    <div class="row g-3 cart-wrap mt-3">
        <h2 class='h1'>Ваше замовлення</h2>
        {% include 'main/cart_items.html' %}
        <h2 class="cart-footer-price" style="font-family: 'Montserrat'; font-size: 25px; font-weight: 700;">Разом:
            {{sum_in_cart}} грн</h2>
        <h2>Доставка</h2>
        <ul id='delivery-form'>
            <li class="form-check courier-to-your-address">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Кур'єр на вашу адресу
                </label>
                <form id="payment-form" class="needs-validation courier-to-your-address-form d-none row g-3" action="">
                    <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">Вулиця</label>
                        <input type="text" class="form-control" id="validationDefault01" value="" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Будинок</label>
                        <input type="text" class="form-control" id="validationDefault02" value="" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault03" class="form-label">Квартира</label>
                        <input type="text" class="form-control" id="validationDefault03" value="" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault04" class="form-label">Поверх</label>
                        <input type="text" class="form-control" id="validationDefault04" value="" required>
                    </div>
                    <div class="col-md-3">
                        <label for="validationDefault05" class="form-label">Ліфт</label>
                        <select class="form-select" id="validationDefault05" required>
                            <option selected disabled value="">Наявність важкого ліфта</option>
                            <option>Присутній</option>
                            <option>Відсутній</option>
                        </select>
                    </div>
                </form>
            </li>
            <li class="form-check pickup-from-nova-poshta">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Самовивіз з Нової Пошти
                </label>
                <form class="pickup-from-nova-poshta-form d-none" action="">
                    <div class="col-md-3">
                        <label for="validationDefault06" class="form-label">Відділення</label>
                        <select class="form-select" id="validationDefault06" required>
                            <option selected disabled value="">Виберіть ваше відділення</option>
                            {% for option in addresses %}
                            <option value="{{option}}">{{option}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </li>
        </ul>
        <form class="needs-validation" action="" method="POST">
            {% csrf_token %}
            <button class='btn btn-primary h1 checkout-button' type="submit">Сплатити</button>
        </form>
    </div>
</div>
{% endblock %}