{% include 'main/base.html' %}
{% load static %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide main-carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <a href="{% url 'categories' 'krosivki' %}" role="button" class="carousel-item active">
            <img src="{% static 'main/img/slider-1-1.svg' %}" class="d-block w-100" alt="...">
        </a>
        <a href="{% url 'categories' 'shorti' %}" role="button" class="carousel-item">
            <img src="{% static 'main/img/slider-1-2.svg' %}" class="d-block w-100" alt="...">
        </a>
        <a href="{% url 'categories' 'futbolki' %}" role="button" class="carousel-item">
            <img src="{% static 'main/img/slider-1-3.svg' %}" class="d-block w-100" alt="...">
        </a>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="text-under-slider">
    <h1>Новинки🔥</h1>
</div>
<div class="under-slider">
    {% for product in all_products %}
    <div class="card" data-price="{{product.price}}" style="width: 18rem;">
        <img src="{{product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{product.name}}</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">{{product.price}} грн.</h1>
                <a href="{% url 'product' product.slug %}" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}