{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide main-carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'main/img/slider-1-1.svg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'main/img/slider-1-2.svg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'main/img/slider-1-3.svg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="text-under-slider">
    <h1>Новинки🔥</h1>
</div>
<div class="under-slider">
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1 padding-margin-0>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'main/img/card-img.svg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ДЖИНСИ SMASH "LOOSE FIT" ЧОРНІ</p>
            <div class="d-flex card-under-slider">
                <h1 class="h1">1499 грн.</h1>
                <a href="#" class="btn btn-primary montserrat-14">Детальніше</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="regModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 h1" id="exampleModalLabel">Реєстрація</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" class="form-reg-auth" method="POST">
                    <input type="text" class="reg-auth-field" placeholder="Email">
                    <input type="text" class="reg-auth-field" placeholder="Username">
                    <input type="text" class="reg-auth-field" placeholder="Password">
                    <input type="text" class="reg-auth-field" placeholder="Repeat password">
                </form>
            </div>
            <div class="modal-footer form-reg-auth">
                <button type="button" class="btn  btn-primary btn-reg-auth">register</button>
                <a href="#" class="h1" data-bs-toggle="modal" data-bs-target="#authModel">у мене вже є
                    аккаунт</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="authModel" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 h1" id="authModalLabel">Авторизація</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" class="form-reg-auth" method="POST">
                    <input type="text" class="reg-auth-field" placeholder="Username">
                    <input type="text" class="reg-auth-field" placeholder="Password">
                </form>
            </div>
            <div class="modal-footer form-reg-auth">
                <button type="button" class="btn  btn-primary btn-reg-auth">login</button>
                <a href="#" class="h1" data-bs-toggle="modal" data-bs-target="#authModel">у мене немає
                    аккаунту</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}