{% extends 'main/base.html' %}
{% load static %}
{% block content %}
{% for product in products %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{product.id}}">
    <p>
        <img src="{{ product.image.url }}" alt="" width="200px">
    </p>
    <p>
        {{product.name}}
    </p>
    <p>
        {{product.price}}
    </p>
    <p>
        {{product.available}}
    </p>
    <p>
        {{product.description}}
    </p>
    <p>
        {{product.size}}
    </p>
    <button class = 'btn btn-primary' name="cart" value="1">В кошик</button>
</form>
{% endfor %}
{% endblock %}